@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300&family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap');
// Colors

 //Primary

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

// Neutral

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$white: white;
//Typography

$font-size: 16px;

// Font


$sm-weights: 500; 
$md-weights:700;
$bold-weight: 900;