<main class="content">
    <div class="card">
        <div class="image">
            <img src="./assets/images/illustration-hero.svg" alt="hero illustration" />
        </div>
        <div class="card-content">
            <header>
                Order Summary
            </header>
            <p>
                You can now listen to millions of songs, audiobooks, and podcasts on any
                device anywhere you like!
            </p>
            <div class="plan">
                <span class="round-icon">
                    <img src="./assets/images/icon-music.svg" alt="music icon" />
                </span>
                <span class="plan-type">
                    <span class="type"> Annual Plan</span>
                    <span class="rate"> $59.99/year</span>
                </span>
                <a href="" class="cursor">Change</a>
            </div>

            <button class="proceed-button cursor">Proceed to Payment</button>
            <button class="cancel-button cursor">Cancel Order</button>
        </div>

    </div>
</main>