@import "../../styles/variables.scss";

.image {
    img {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

.card-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px 16px 16px;
    p {
        color: $desaturated-blue;
        line-height: 1.5;
        font-size: $font-size;
        padding-bottom: 8px;
    }
    header {
        color: $dark-blue;
        font-weight: $bold-weight;
    }
    .plan {
        border-radius: 16px;
        background-color: $very-pale-blue;
        flex-direction: row;
        display: flex;
        padding: 16px;
        justify-content: space-around;
        align-items: center;
        .plan-type {
            display: flex;
            flex-direction: column;
            .type {
                font-weight: $bold-weight;
                color: $dark-blue;
                margin: 0 0 8px 0;
            }
            .rate {
                font-weight: $sm-weights;
                color: $desaturated-blue;
            }
        }
    }

    button {
        font-size: $font-size;
        font-weight: $md-weights;
        width: 100%;
        padding: 16px;
        &.proceed-button {
            margin: 24px 0 0 0;
            background-color: $bright-blue;
            color: $white;
            border-radius: 12px;
            border-color: transparent;
            box-shadow: 0 12px 8px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 19%);
        }
        &.cancel-button {
            background-color: transparent;
            color: $desaturated-blue;
            border: none;
            padding-top: 24px;
        }
    }
}
